* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blue;
    color: #fff;
    background: #09203A;
    position:fixed;
    width:100%;
    z-index: 1001;
}

/* .brand-title {
    font-size: 1.5rem;
    margin: .5rem;
} */

.navbar .logo img{
    width: 50px;
    height: 50px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    }

.navbar-links li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    }

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    padding: 8px 25px;
    transition: all 2s ease;
}

.navbar-links li a:hover {
    background-color: white;
    color:black;
    box-shadow: 0 0 10px white;
}

.a[target] {
    color: #fff;
    }


/*  */
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
}


/*  */
@media screen and (max-width:600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        background: #09203A;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
        background: #09203A;
    }

}

/* Home */
.home-first {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

#home{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('./pics/ruth.jpg') no-repeat center center/cover;
    height: 930px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings{
    font-family: century;
    font: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.main {
    animation-name: animate1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 1ms;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation: animate1 5s ease-in-out 1 forwards;
}
@keyframes animate1 {
    0%{
        right: 0%;
        width: 250px;
    }
    50%{
        width: 500px;
        /* background-color: red; */
        right: 300px;
    }
    100%{
        right: 10%;
        width: 500px;
    }
    0%{
        color: green;
    }
    25%{
        color: red;
    }
    50%{
        color: blue;
    }
    75%{
        color: yellow;
    }
    100%{
        color: green;
    }
    
}

/* #anime{
    animation: animate1 5s ease-in-out 1s infinite forwards;
}

@keyframes animate1 {
    0%{
        color: green;
    }
    25%{
        color: red;
    }
    50%{
        color: blue;
    }
    75%{
        color: yellow;
    }
    100%{
        color: green;
    }
} */

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

.summary {
    width: 90%;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

#brief{
    width: 50%;
    margin-top: 400px;
    font-style: inherit;
    text-align: left;
    font-size: 19px;
    margin-left: -500px;
    position: relative;
}
@media screen and (max-width:350px) {
    #brief{
        width: 100%;
        margin: auto;
        margin-top: 400px;
        padding: 15px;
        position: relative;
        height: 530px;
    }
}

@media screen and (max-width:600px) {
    #brief{
        width: 100%;
        margin: auto;
        margin-top: 400px;
        padding: 15px;
        position: relative;
    }
}

@media screen and (max-width:900px) {
    #brief{
        width: 100%;
        margin: auto;
        margin-top: 400px;
        padding: 15px;
        position: relative;
    }
}

/* About*/
#about {
    margin-bottom: 80px;
    padding: 20px;
    background: #9ea7a9;
}

#about .headings {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

#pic {
    width: 80%;
    /* height: 400px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.pic-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-image img {
    width: 60%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

#intro {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-message {
    text-align: justify;
}

#intro h2 {
    text-align: left!important;
}

@media screen and (max-width:1000px) {
#pic {
    width: 95%;
    
}

.pic-image img {
    width: 75%;
    height: 90%;
}

}

@media screen and (max-width:700px) {
    
    #pic {
        width: 80%;
        /* height: 400px; */
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .pic-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pic-image img {
        width: 90%;
        height: 90%;
        object-fit: cover;
    }

    #intro {
        width: 100%;
    }
    
}



/*Work */
#portfolio{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    margin-top: -80px;
}

.port {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.my-proj {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.my-projects{
    
}

.project-desc {
    padding: 10px;
}

.project-desc h4 {
    padding: 10px 0;
    line-height: 1.5;
}

.project-desc p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.project-links {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.my-projects img{
    object-fit: cover;
    width: 100%;
    height: 240px;
}

@media screen and (max-width:900px) {
    .my-proj{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width:600px) {
    .my-proj{
        grid-template-columns: 1fr;
    }
    
}

/*Services */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #9ea7a9;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255,45,45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255,45,45);
}

/*Contact */

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 20px;
    margin: 15px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 10px;
}
#msg{
    width: 50%;
    padding: 20px;
    margin: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}
#send{
    padding: 20px;
    width: 50%;
    margin: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

@media screen and (max-width:600px) {
    .input{
        width: 90%;

    }
    #msg{
        width: 90%;
    }
    #send{
        width: 90%;
    }

}

@media screen and (max-width:800px) {
    .input{
        width: 80%;

    }
    #msg{
        width: 80%;
    }
    #send{
        width: 80%;    
    }
}

.ico {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.footer{
        height: 170px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #09203A;
        color: white;
        padding: 20px;
        margin-top: 100px;
        position: relative;
}

.footer ul{
    display: flex;
    list-style: none;
    margin: auto;
}
.footer ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    transition: all .5s ease;
}

